<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="tab/head::head"></head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo" th:text="#{title}"></a></h1>
							</header>
						</div>

					<!-- Nav -->
						<nav th:replace="tab/nav::nav"></nav>

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-mobile" id="sidebar">
								<hr class="first" />
								<section>
									<header>
									<img style="width: 274px;" th:src="@{/image/1.jpg}">
										<h3><a href="#" th:text="#{Introduction.BasicInformation}"></a></h3>
									</header>
									<p th:text="#{Introduction.name}"></p>
									<p th:text="#{Introduction.gender}"></p>
									
									<p th:text="#{Introduction.age}"></p>
									<p th:text="#{Introduction.military}"></p>
									<p th:text="#{Introduction.phone}"></p>
									<p th:text="#{Introduction.email}"></p>
									
									
								</section>
								<hr />
								<section>
									<header>
										<h3><a href="#">學歷</a></h3>
									</header>
									<div class="row gtr-50">
									
										<div class="col-12">
											<h4>大學</h4>
											<p>
												淡江大學資訊工程學系(畢業)
											</p>
										</div>
										
										<div class="col-12">
											<h4>高中</h4>
											<p>
												成淵高中普通科(畢業)
											</p>
										</div>
									
										
									</div>
								</section>
								<hr />
								<section>
									<header>
										<h3><a href="#">工作與社團經歷</a></h3>
									</header>
									<div class="row gtr-50">
									
										<div class="col-12">
											<h4>神通資訊科技</h4>
											<p>
												職位:應用工程部|助理工程師
											</p>
											<p>
												就職時間:2022/7/1-2023/6/30
											</p>
										</div>
										
										<div class="col-12">
											<h4>淡江電腦維修服務隊</h4>
											<p>
												職位:隊員(電腦維修)
											</p>
											<p>
												就職時間:2020/9/1-2022/6/1
											</p>
										</div>
										
											<div class="col-12">
											<h4>淡江電腦硬體研究社</h4>
											<p>
												職位:教學長
											</p>
											<p>
												任職時長:1年
											</p>
										</div>
									
										
									</div>
								</section>
							</div>
							<div class="col-8 col-12-mobile imp-mobile" id="content">
								<article id="main">
									<header>
										<h2><a href="#" th:text="#{Introduction.Title}">自我介紹</a></h2>
									</header>
									<p th:text="#{Introduction.Content1}"></p>
									<p th:text="#{Introduction.Content2}"></p>
									<p th:text="#{Introduction.Content3}"></p>
									<p th:text="#{Introduction.Content4}"></p>
									
								</article>
							</div>
						</div>
						
					</div>

				</div>

			<div th:replace="tab/Feature::Feature"></div>

		</div>

		<div th:replace="fragment/script::script">
		
		</div>
			

	</body>
</html>