<nav id="nav" th:fragment="nav">
							<ul>
								<li><a href="/">首頁</a></li>
								
								<li><a href="./SelfIntroduction">自我介紹</a></li>
								<li><a href="./autobiography">自傳</a></li>
								<li><a href="./workexperience">工作經歷</a></li>
								
								<li>
									<a href="#">作品集</a>
									<ul>
										<li><a href="http://forthesky.ddns.net:3000/api">nodejs</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li>
											<a href="#">And a submenu &hellip;</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
								<li><a href="./workexperience">英文版</a></li>
							</ul>
						</nav>