<nav id="nav" th:fragment="nav">
							<ul>
								<li><a href="/"><p th:text="#{homePage.home}"></p></a></li>
								
								<li><a href="./SelfIntroduction" th:text="#{homePage.introduce}"></a></li>
								
								<li>
									<a href="#" th:text="#{homePage.work}"></a>
									<ul>
										<li><a href="http://forthesky.ddns.net:3000/api">nodejs</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li>
											<a href="#">And a submenu &hellip;</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
								<li><a href="?lang=en_US" th:text="#{homePage.english}">英文版</a></li>
								<li><a href="?lang=zh_TW" th:text="#{homePage.chinese}">中文版</a></li>
							</ul>
						</nav>